{% extends "base.html" %}
{% block content %}
    <div class="container mt-5">
        <br>
        <h2>All Orders</h2>
        <a href="{% url 'comanda-create' %}" class="btn btn-primary mb-3">Add New Order</a>
        <table class="table table-bordered table-striped">
            <thead>
            <tr>
                <th>NR</th>
                <th>Client Name</th>
                <th>Status</th>
                <th>utilizator</th>
                <th>quantity</th>
                <th>Final quantity</th>
                <th>ID</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for comanda in comenzi %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ comanda.client_name }}</td>
                    <td>{{ comanda.status }}</td>
                    <td>{{ comanda.utilizator }}</td>
                    <td>{{ comanda.quantity }}</td>
                    <td>{{ comanda.final_quantity }}</td>
                    <td>{{ comanda.id }}</td>

                    <td>

                        <a href="{% url 'comanda-update' comanda.id %}" class="btn btn-warning btn-sm">Edit</a>
                        {% if user.is_authenticated and user.is_staff %}
                            <a href="{% url 'comanda-delete' comanda.id %}" class="btn btn-danger btn-sm">Delete</a>
                        {% endif %}
                    </td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="7">No orders found.</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
